/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

/*Centrar verticalmente elementos tabla*/
.table > tbody > tr > td {
   vertical-align: middle;
 }

/*Colores botones + y -*/
 #icono-mas, #icono-menos {
   color:#fff;
 }

/*busqueda avanzada*/
#busqueda-avanzada:hover {
  background-color: #001f90;
  color: white;
}
/*Quitar bordes tabla resultados*/
 .table-borderless tbody tr td,
 .table-borderless tbody tr th,
 .table-borderless thead tr th,
 .table-borderless thead tr td,
 .table-borderless tfoot tr th,
 .table-borderless tfoot tr td {
     border: none;
 }
