/*HEADER*/
#banner {
  width:100%;
}

/*FOOTER*/
footer {
    background-color: #001f90;
}

/*Cabezera paneles*/
#cabezera-panel {
    background-color: #001f90;
    color:white;
}

/*Botones*/

.btn-color {
  background-color: #001f90;
}

.icon-color , .text-color, .text-color:hover{
  color: white;
}

/*NAVBAR*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(0, 31, 144, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 31, 144, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(17, 240, 225, 1);
    background-color: rgba(83, 112, 230, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 31, 144, 1);
    background-color: rgba(238, 232, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #eee8ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #eee8ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee8ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #001f90;
}
